body {
    font-family: 'Lato', sans-serif;
    /*background-image: url("imagen.png");
    background-image: url("imagen2.jpg");*/
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

h1 {
    margin-bottom: 10px
}

label {
    color: #333
}

.btn-send {
    margin-top: 15px;
    font-weight: 300;
    text-transform: uppercase;
    background-color: black;
    width: 80%;
    margin-left: 3px
}

.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px;
}

.card {
    margin-left: 10px;
    margin-right: 10px
}

.form-check-label{
    font-family: 'Lato', sans-serif;
    margin-left: 30px;
    font-size: 12px; 
    font-weight: 400; 
    line-height: 1.5; 
    
}

.form-check-input{
    margin-left: 5px;
}


.form-error-message{

    color: #ff5050 !important;
    
    }

